body{
		font-family: 'Press Start 2P', cursive;
		text-align: center;
}

/*scoreboard not positioned properly yet*/
div{
	float:left;
	font-size: 18pt;
	width: 100px;
	height: 100px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
}
